.horizontal-split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-container {
  width: 500px;
  height: 300px;
}

.horizontal-split > form {
  min-width: 300px;
}

.DevicesSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.DevicesSelect > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.DevicesSelect > select {
  width: 80%;
}

.StopCancelButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.StopCancelButtons > button {
  width: 47%;
}

.ChartWithSliders {
  display: flex;
  flex-direction: column;
}

.SlidersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
