.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.Link {
  font-weight: bold;
  cursor: pointer;
}

.FormChartsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.DevicesSelect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.DevicesSelect > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.DevicesSelect > select {
  width: 80%;
}

.FormInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.FormInputs > button {
  margin-right: 20px;
}

.FormInputs > .form-group {
  margin-right: 20px;
}

.FormButtonInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.FormButtonInputs > .form-group {
  margin-right: 20px;
}

.FormButtonInputs > button {
  margin-left: 20px;
}

.SubmitContainer {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
